body {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
  background-color: #070f2b;
}

.result-container {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}


/* commit: increased result height */
.result {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: 8px white ridge;
  flex-direction: column;
  height: 120px;
  width: 404px;
  color: white;
  padding-right: 10px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.calc-container {
  display: flex;
  gap: 10px;
}

.num-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.numbers {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: whitesmoke;
  background-color: #240750;
  font-weight: bold;
}

.op-container {
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.ops {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: whitesmoke;
  background-color: #344c64;
  font-weight: bolder;
}

.buttons:hover {
  background-color: #577b8d;
}

.buttons:active {
  background-color: #57a6a1;
}

#dot {
  font-weight: bolder;
  font-size: 25px;
}

#clear,
#equal {
  font-size: 30px;
  background-color: #8c6a5d;
  font-weight: bolder;
}

#clear:hover,
#equal:hover {
  background-color: #5f374b;
}

#clear:active,
#equal:active {
  background-color: #f2613f;
}

#equal {
  height: 210px;
}

.buttons {
  border: none;
  font-size: 20px;
}

.first-num {
  font-size: 50px;
}

.second-num {
  font-size: 35px;
}

.operator {
  font-size: 40px;
}